.git
.github
.husky
.nx
.vscode
.idea
.devcontainer
README.md

node_modules
**/node_modules

frontend/dist
backend/internal/web/dist/*
!backend/internal/web/dist/.gitignore
!backend/internal/web/dist/index.html
backend/bin
backend/tmp
backend/nasnet-panel

apps
dist
**/.cache
**/*.log
**/.DS_Store
**/playwright-report
**/test-results
